
Título:<input type="text" #pelicula name="titulo">&nbsp;
<input type="checkbox" #mismotitulo id="chkTituloOriginal"> Título original<br>
Descripción:<input type="text" #descripcion name="descripcion">
<button (click)="crearPelicula(pelicula, descripcion)" name="btnCrearPelicula">Crear pelicula</button>
<label *ngIf="created" name="lblMessage">Última película creada {{pelicula.value}}</label>
<hr>

<ul>
  <li *ngFor="let pelicula of peliculas">
    <h4>{{pelicula.title}}</h4>
    <p>{{pelicula.overview}}</p>
  </li>
</ul>
